# Virtual environment
venv/
.venv/

# Cache/compiled files
__pycache__/
*.pyc
*.pyd
*.egg

# Local logs/data/settings directories
.vscode/
.env

# Tests
tests/
/notebooks/
/examples/
cli.py

core/

# Images
.png
